body {
  background: #f4f4f4;
}

.navbar {
  background-color: #ff6600;
}
.navbar .navbar-brand {
  color: #ecf0f1;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
  /* color: #ff6600; */
  color: #fff;
}
.navbar .navbar-text {
  color: #ecf0f1;
}
.navbar .navbar-text a {
  color: #ff6600;
}
.navbar .navbar-text a:hover,
.navbar .navbar-text a:focus {
  color: #ff6600;
}
.navbar .navbar-nav .nav-link {
  color: #ecf0f1;
  border-radius: 0.25rem;
  margin: 0 0.25em;
}

.list-group-item__ext:hover {
  background-color: rgb(247, 165, 136);
  color: #fff;
  text-decoration: none;
}

.no-underline {
  text-decoration: none;
}

.text-black {
  color: #000000;
}

.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus {
  /* color: rgb(255, 102, 0); */
  color: #fff;
}
.navbar .navbar-nav .dropdown-menu {
  background-color: #ff6600;
  border-color: #000000;
}
.navbar .navbar-nav .dropdown-menu .dropdown-item {
  color: #ecf0f1;
}
.navbar .navbar-nav .dropdown-menu .dropdown-item:hover,
.navbar .navbar-nav .dropdown-menu .dropdown-item:focus,
.navbar .navbar-nav .dropdown-menu .dropdown-item.active {
  color: #ff6600;
  background-color: #000000;
}
.navbar .navbar-nav .dropdown-menu .dropdown-divider {
  border-top-color: #000000;
}
.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-item.active .nav-link:hover,
.navbar .navbar-nav .nav-item.active .nav-link:focus,
.navbar .navbar-nav .nav-item.show .nav-link,
.navbar .navbar-nav .nav-item.show .nav-link:hover,
.navbar .navbar-nav .nav-item.show .nav-link:focus {
  color: #ff6600;
  background-color: #000000;
}
.navbar .navbar-toggler {
  border-color: #000000;
}
.navbar .navbar-toggler:hover,
.navbar .navbar-toggler:focus {
  background-color: #000000;
}
a {
  text-decoration: none;
}

a.alert-md {
  text-decoration: none;
  color: #333;
  font-size: 16px;
}

.navbar .navbar-toggler .navbar-toggler-icon {
  color: #ecf0f1;
}
.navbar .navbar-collapse,
.navbar .navbar-form {
  border-color: #ecf0f1;
}
.navbar .navbar-link {
  color: #ecf0f1;
}
.navbar .navbar-link:hover {
  color: #ff6600;
}

@media (max-width: 575px) {
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ecf0f1;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #ff6600;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #ff6600;
    background-color: #000000;
  }
}

@media (max-width: 767px) {
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ecf0f1;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #ff6600;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #ff6600;
    background-color: #000000;
  }
}

@media (max-width: 991px) {
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ecf0f1;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #ff6600;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #ff6600;
    background-color: #000000;
  }
}

@media (max-width: 1199px) {
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ecf0f1;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #ff6600;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #ff6600;
    background-color: #000000;
  }
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
  color: #ecf0f1;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
  color: #ff6600;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
  color: #ff6600;
  background-color: #000000;
}

.main-color-bg {
  background-color: #ff6600 !important;
  border-color: #ff6600 !important;
  color: #fff !important;
}

.o-btn {
  display: flex;
  width: auto;
  justify-content: center;
  align-items: center;
  padding: 2px 0;
  border-radius: 5px;
  transition: 0.3s;
  font-size: 0.8rem;
}

.o-btn-sm {
  padding: 5px 15px;
}

.o-btn-md {
  padding: 10px;
}

.o-btn-lg {
  padding: 5px 23.3rem;
}

.o-btn:hover {
  cursor: pointer;
}
.o-btn-o {
  background: #ff6600 !important;
  color: #000000 !important;
}
.o-btn-o:hover {
  background: #000 !important;
  color: #ff6600 !important;
}
.o-btn-b {
  color: #ff6600 !important;
  background: #000000 !important;
}
.o-btn-b:hover {
  color: #000 !important;
  background: #ff6600 !important;
}

/* Header */
#header {
  background: #333333;
  color: #fff;
  margin-bottom: 15px;
  padding-bottom: 10px;
}
#header .create {
  padding-top: 20px;
}

/* Breadcrumb */
.breadcrumb {
  background: #ccc;
  color: #333;
}
.breadcrumb a {
  color: #333;
}

/* Progress bar */
.progress-bar {
  background: #333;
  color: #fff;
}

.dash-box {
  text-align: center;
}

.dash-box > h2 > span {
  margin-right: 5px;
}

#login {
  margin-top: 30px;
}

#footer {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 30px;
  margin-top: 30px;
}

@media (max-width: 575px) {
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ecf0f1;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #ffbbbc;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #ffbbbc;
    background-color: #c0392b;
  }
}

.left {
  margin-left: 25rem;
}

@media (max-width: 767px) {
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ecf0f1;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #ffbbbc;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #ffbbbc;
    background-color: #c0392b;
  }
}

@media (max-width: 991px) {
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ecf0f1;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #ffbbbc;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #ffbbbc;
    background-color: #c0392b;
  }
}

@media (max-width: 1199px) {
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ecf0f1;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #ffbbbc;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #ffbbbc;
    background-color: #c0392b;
  }
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
  color: #ecf0f1;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
  color: #ffbbbc;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
  color: #ffbbbc;
  background-color: #c0392b;
}
